{% extends 'layout.html' %}
{% block content %}
	<h2>Update data</h2>
	<form method="POST">
		<table width="400px">
			<tr>
				<td><label>No Induk</label></td>
				<td><input type="text" name="no_induk" value="{{data.no_induk}}" disabled></td>
			</tr>
			<tr>
				<td><label>Nama</label></td>
				<td><input type="text" name="nama" value="{{data.nama}}"></td>
			</tr>
			<tr>
				<td><label>Alamat</label></td>
				<td><textarea name="alamat">{{data.alamat}}</textarea></td>
			</tr>
			<tr>
				<td><input type="submit" name="" value="Simpan"></td>
			</tr>
		</table>		
	</form>
{% endblock %}