{% extends 'layout.html' %}
{% block content %}
	<h2>Tambah data</h2>
	<form method="POST">
		<table width="400px">
			<tr>
				<td><label>No Induk</label></td>
				<td><input type="text" name="no_induk"></td>
			</tr>
			<tr>
				<td><label>Nama</label></td>
				<td><input type="text" name="nama"></td>
			</tr>
			<tr>
				<td><label>Alamat</label></td>
				<td><textarea name="alamat"></textarea></td>
			</tr>
			<tr>
				<td><input type="submit" name="" value="Simpan"></td>
			</tr>
		</table>		
	</form>
{% endblock %}