{% extends 'layout.html' %}
{% block title %} Index Page {% endblock %}

{% block content %}
<h1>{{title}}</h1>
	<ul>
		<li><a href="/">Index</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>

	<table style="border-collapse: collapse; width: 600px;" border="1">
		<thead>
			<tr>
				<th>No induk</th>
				<th>Nama</th>
				<th>Alamat</th>
				<th>Aksi</th>
			</tr>
		</thead>
		<tbody>
			{% for d in data %}
			<tr>
				<td>{{ d.no_induk}}</td>
				<td>{{ d.nama}}</td>
				<td>{{ d.alamat}}</td>
				<td>
					<a href="/update/{{ d.no_induk }}">Ubah</a> | <a href="/delete/{{ d.no_induk }}" onclick="return confirm('yakin??')">Delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="/insert">Tambah data</a> 
{% endblock %}